body {
  background-image: url("../imagens/bgtile-css.gif");
  font: 12px Verdana, Arial, Helvetica, sans-serif;
  color: black;
  margin: 20px 40px;
}
a:link {
  color: #336699;
}

a:visited {
  color: #666666;
}

a:hover {
  color: #663366;
  text-decoration: none;
}

a:active {
  color: #663300;
}

h1, h2, h3 {
  font-family: Georgia, “Times New Roman”, Times, serif;
}
h1 {
  text-align: center;
  font-size: 36px;
  color: #448888;
}
h2 {
  font-size: 18px;
  color: #226666;
}
h3 {
  font-size: 14px;
  color: #333333;
}
p {
  line-height: 1.4em;
}
dt {
  color: #333333;
  font-weight: bold;
}
dd {
  font-style: italic;
  margin: 0.5em 0px 1.5em;
}
dl {
  margin: 1.5em;
}
blockquote {
  font-family: Georgia, “Times New Roman”, Times, serif;
  font-size: 14px;
  font-style: italic;
  margin: 1em 3em;
}
.byline {
  font-style: italic;
  text-align: center;
  margin-bottom: 2.5em;
  padding-bottom: 0.5em;
  border-bottom: solid 1px #666666;
}
.figura {
  margin-left: 20px;
  float: right;
}
.figure {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666666;
  margin: 0px;
}
#toc {
  background-color: white;
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: solid 1px #666666;
  border-bottom: solid 6px #666666;
  border-right: solid 6px #666666;
}
#toc div {
  padding-left: 2em;
}